body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: "Poppins";
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header {
  width: 63vw;
  display: flex;
  justify-content: space-between;
  margin-left: 3.8rem;
}

h1 {
  font-size: 38px;
}

.genSelect {
  width: 38%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genSelect button {
  all: unset;
  height: 1.7rem;
  width: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff4444;
  border-radius: 50%;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.genSelect div:nth-child(1) button img {
  height: 68%;
  width: 68%;
}

.genSelect button:hover {
  background-color: #ff4444;
  color: #f5f5f5;
}

.genSelect button.selected {
  background-color: #ff4444;
  color: #f5f5f5;
}

h2,
p {
  margin: 0;
}

.mainContainer {
  width: 94.95vw;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0rem 0 3.8rem 3.8rem;
}

.pokemonList {
  width: 63vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pokemonItem {
  height: 4.5rem;
  width: 82%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.23);
  border-radius: 3.8rem;
  background-color: transparent;
  background-image: linear-gradient(to right, #ff4444 50%, transparent 50%);
  background-position: right;
  background-size: 200% 100%;
  transition: width 0.3s ease;
  cursor: pointer;
}

.pokemonItem:hover {
  width: 100%;
}

.pokemonItem.selected {
  width: 100%;
  color: #f5f5f5;
  animation: backgroundFill 0.5s forwards;
}

@keyframes backgroundFill {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.pokemonItem.selected .pokeBallIcon {
  background-color: #f5f5f5;
  transform: rotate(90deg);
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.pokemonIconContainer {
  height: 100%;
  width: 9rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-right: 30%;
  background-color: #ff4444;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.pokemonIcon {
  height: 100%;
  width: 4.5rem;
  display: flex;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.pokemonNumber {
  font-size: large;
  color: #f5f5f5;
}

.pokemonNameContainer {
  height: 100%;
  width: 43%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.pokemonName {
  font-size: x-large;
}

.pokeBallIcon {
  height: 100%;
  width: 4.5rem;
  background-color: #ff4444;
  mask-image: url("../img/pokeBall.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 3rem;
}

.pokemonInfoContainer{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
  z-index: 1;
}

.pokemonInfo {
  height: 69vh;
  width: 23.9vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  right: 3.8rem;
  transform: translateY(-50%);
  background-color: #f5f5f5;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.23);
  z-index: 2;
}

.pokemonNumberNameContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ff4444;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.dexNumberContainer {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 1rem;
}

.dexNumber {
  font-size: x-large;
  color: #f5f5f5;
}

.dexNameContainer {
  width: 10rem;
  display: flex;
  justify-content: center;
}

.dexName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}

.pokemonNumberNameContainerSupport {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
}

.dexSprite {
  height: 45%;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.dexTypes {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.typeContainer {
  height: 2.8rem;
  width: 5.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.typeContainer p {
  font-weight: 600;
  color: #f5f5f5;
}

.dexTypes {
  display: flex;
  gap: 15px;
}

.pokemonMeasures {
  height: 19%;
  width: 87%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.68rem 0.68rem 0.68rem;
}

.measures {
  height: 100%;
  width: 63.7%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.measure {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heightContainer,
.weightContainer,
.dexHeightContainer,
.dexWeightContainer {
  display: flex;
}

.heightContainer,
.weightContainer {
  width: 3.8rem;
  justify-content: start;
}

.dexHeightContainer,
.dexWeightContainer {
  width: 3rem;
  justify-content: end;
}

.lineBar {
  height: 0.4rem;
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: #b4b4b4;
  border-radius: 0.8rem;
  opacity: 0;
}

.genStamp {
  height: 3.8rem;
  width: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5.3px solid #6d6d6d;
  border-radius: 50%;
  opacity: 0;
}

.genStamp p {
  font-weight: bold;
  color: #2d2d2d;
}

@media screen and (max-width: 768px) {
  .pokemonInfo {
    height: 59vh;
    width: 75vw;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  .mainContainer {
    width: 100vw;
    justify-content: center;
    margin: 0;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  h1 {
    text-align: center;
    margin: 1.5rem;
  }

  .genSelect {
    width: 83vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1.2rem;
  }

  .pokemonList {
    width: 83vw;
  }

  .pokemonItem {
    width: 100%;
    transition: none;
  }

  .pokemonIconContainer {
    margin-right: 0;
    width: 8.3rem;
    margin-right: 3%;
  }

  .pokemonNumber {
    font-size: small;
  }

  .pokemonName {
    font-size: medium;
  }

  .dexSprite {
    height: 38%;
    width: 53%;
  }
}
